<div>
  <!-- it would be nice if this wasn't broken. angle brackets removed because i'm scared.
    iframe src="https://github.com/sponsors/deobald/button" title="Sponsor deobald" height="35" width="107" style="border: 0;"
    /iframe
  -->

  <!-- hacky alternative to github's broken button: -->
  <!-- html comments are so cool, so 1994 -->
  <!-- yes, i know this isn't the social section. stop reading my source. -->
  <section class="social">
    <a href="https://github.com/sponsors/deobald?o=esb">
      <img src="/img/ugly-ass-sponsor-button.png" />
    </a>
  </section>

</div>

