
/* center-align images */
img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* medium-style horizontal rules */
hr {
    text-align: center;
    margin-top: 30px;
    border: medium none;
    font-size: 28px;
    font-family: medium-content-slab-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300;
}

hr::before {
    line-height: 1.4;
    text-indent: 0.6em;
    letter-spacing: 0.6em;
    content: "...";
}

/* image captions */
img + em, .image-table + p > em, .image-table + em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 80%;
}

.image-table, .image-table tbody tr:nth-child(2n+1) td, .image-table-cell {
    margin-bottom: 0px;
    background: none;
    border: none;
    border-collapse: collapse;
}

/* AsciiDoctor */
.admonition-block {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(30, 64, 175);
  color: rgb(219, 234, 254);
}
